.input-group {
    width:80% ;
    margin: 0 auto;
}
#head{
    text-align: center;
}

#button {
    text-align: center;
}

.btnHover:hover{
    background-color: green;
    color: black;
    transition:all 0.3s;

}

.btnHover1:hover{
    background-color: brown;
    color: black;
    transition:all 0.3s;
}
